# =============================================
# OS / editor cache
# =============================================
.DS_Store
__pycache__/
.ipynb_checkpoints/

# =============================================
# Model checkpoints (DO NOT upload to GitHub)
# =============================================
generator_checkpoint/
verifier_RoBERTa/
ranker_roberta/

# =============================================
# Large data generated during training or inference
# =============================================
verifier_data/
test_k15.json
